schema/student.xsd

<?xml version="1.0" encoding="GB2313" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="学生名册">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="学生"  maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="姓名" type="xs:string"/>
            <xs:element name="性别" type="xs:string"/>
            <xs:element name="年龄" type="xs:string"/>
           </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="orderid" type="xs:string" use="required"/>
  </xs:complexType>
</xs:element>
</xs:schema>
